body{
    background: #e0e0e0;
}
nav{
    background: #212121;
    font-family: 'Tangerine', serif;
      font-size: 48px;
      text-shadow: 4px 4px 4px #aaa;
}

.tabs .tab a{
    position: relative;
}
.container{
    display: none;
}
.t-r{
    text-align:right;
}
.dis-no{
    display: none;
}
.login{
    position: absolute;
    width: 500px;
    height: 200px;
    left:50%;
    top:50%;
    margin-left: -250px;
    margin-top: -100px;
}
.login-btn-wrapper{
    text-align: center;
    margin-top: 40px;
}

.tabs{
    background: #607d8b;

}

.tabs .tab a{
        color:#fff;
}
.tabs .tab a.active{
    background: #00897B;
}
.tabs .tab a:hover{
    color:#fff;
}
.container .row{
    margin-top: 0.5rem;
}
#chatroom .card-panel{
    margin-top: 0px;
}

#tabsContainer .card-panel{
    margin-top: 0px;
    padding: 0px;
}
.indicator{
    display: none;
}
.collection{
    border:none;
}
.card-panel-title{
    padding: 5px;
    border-bottom:1px solid rgba(160,160,160,0.2);
}
#panelNickname{
    display: block;
    font-weight: 300;
    font-size: 20px;
    padding: 10px 10px 10px 10px;
}
.p-title{
    height: 50px;
    color:#fff;
    line-height: 50px;
    background: #607d8b;
    font-size: 25px;
    font-weight: 100;
}

.card-panel-chat{
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 10px;
}
.p-msg{
    height: 400px;
    padding: 10px;
    border-bottom:
    overflow: auto;
}
.p-chip{
    display: inline-block;
    height: 32px;
    font-size: 13px;
    font-weight:500;
    color:rgba(0,0,0,0.6);
    line-height: 32px;
    padding:0 12px;
    border-radius:3px;
    background-color:#e4e4e4;
    margin-top: 6px;
}
.p-chip-username{
    font-size: 16px;
    font-weight: bold;
}
.p-control{
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 10px 20px 5px 20px;
}
.p-control .row{
    margin-bottom: 15px;
}
.p-control .row .col.s3{
    text-align: center;
}
.tabs .tab{
    text-transform:none;
}
.close-icon{
    position: absolute;
    top:6px;
    right:6px;
}
@-webkit-keyframes twinkling{    /*透明度由0到1*/
   0%{
      opacity:0; /*透明度为0*/
    }
   100%{
      opacity:1; /*透明度为1*/
   }
 }

 .twinkle{
      -webkit-animation: twinkling 1s infinite ease-in-out;
 }
